# Node modules
node_modules/

# Build output
dist/
out-tsc/
tmp/
build/

# IDEs y editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular environment files
src/environments/*.ts

# Coverage reports
coverage/

# Compiled files
*.js
*.js.map
*.tsbuildinfo

# Misc
.env
*.local